@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models;
@using Umbraco.Core.Models;

@{
    Layout = "Master.cshtml";
    var children = Model.Children().Where(x => !x.Value<bool>("umbracoNaviHide")).OrderByDescending(x => x.Value("articleDate"));
}

<div class="container-fluid newsList">
    <div class="row">
        <div class="col-12">
            <h1>News</h1>
        </div>
        <div class="col-12">
            <ul class="row">
                @foreach (var child in children)
                {
                    var articleImage = child.Value<IPublishedContent>("articleImage");
                    var articleLinks = child.Value<IEnumerable<Link>>("articleLink");

                    var croppedImage = child.Value<IPublishedContent>("articleImage") as MediaWithCrops;
                    var croppedImageUrl = croppedImage.GetCropUrl("thumbnail");

                    <li class="col-12 col-lg-4 px-3 my-3 newsListItem">
                        <img src="@croppedImageUrl" alt="@child.Value("articleImageAltText")" class="img-fluid" />
                        <div class="content text-center my-3">
                            <h2>@child.Value("articleTitle")<span class="article-author"> by @child.Value("articleAuthor")</span></h2>
                            <p class="small">@(child.Value<DateTime>("articleDate").ToString("MMMM d, yyyy"))</p>
                            <p class="text-start">@child.Value("articleDescription")</p>
                        </div>
                        @if (articleLinks.Any())
                        {
                            <a href="@articleLinks.First().Url" target="@articleLinks.First().Target">View Now</a>
                        }
                    </li>
                }
            </ul>

        </div>
    </div>
</div>